@import "../scss/styleTools.scss";

.header {
  border-bottom: 1px solid $gray-line;
  padding: 40px 0;

  .logo {
    display: flex;

    img {
      margin-right: 15px;
    }
  }
  .cartIcon {
    width: 15px;
    height: 15px;
    fill: $white;
  }
}
