$black: #232323;
$lightBlack: #3b3a3a;
$darkGray: #7b7b7b;
$gray: #f9f9f9;
$background: #ffdf8c;
$gray-line: #f6f6f6;
$orange: #fe5f1e;
$darkOrange: #ff4000;

$white: #fff;

$container-width: 90%;

$duration: 0.15s;

$bold: 400;
$veryBold: 800;
